<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration"
    type="NHibernate.Cfg.ConfigurationSectionHandler,
NHibernate"/>
    <section name="log4net"
type="log4net.Config.Log4NetConfigurationSectionHandler,
log4net"/>
  </configSections>
  <log4net>
    <appender name="udp" type="log4net.Appender.UdpAppender">
      <RemoteAddress value="::1"/>
      <RemotePort value="7071"/>
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
    </appender>
    <appender name="asyncForwarder" type="Log4Net.Async.AsyncForwardingAppender,Log4Net.Async">
      <appender-ref ref="udp" />
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="asyncForwarder" />
    </root>
    <logger name="NHibernate.SQL">
      <level value="DEBUG" />
      <appender-ref ref="asyncForwarder"/>
    </logger>
  </log4net>
  <hibernate-configuration
  xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="show_sql">true</property>
      <property name="connection.driver_class">NHibernate.Driver.OracleDataClientDriver</property>
      <property name="connection.connection_string">
        User Id=COSMIN;Password=COSMIN;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.71.54)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=OS)));
      </property>
      <property name="dialect">NHibernate.Dialect.Oracle10gDialect</property>
      <property name="adonet.batch_size">
        100
      </property>
      <property name="format_sql">true</property>
      <mapping assembly="NHibernateTDD"/>
     </session-factory>
  </hibernate-configuration>
</configuration>